*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --dark: #000;
    --light-dark: #010;
    --light-blue: dodgerblue;
}

.header{
    width: 100%;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding:0 50px; */
}

.App-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 30px 0; */
    padding: 0 50px;
}
.hamburger{
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.bar{
    width: 35px;
    height: 6px;
    background-color: var(--light-blue);
}
.logo-hamburger{
    display: flex;
    padding: 20px 0;
}
.nav-links{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.ul-nav-links{
    display: flex;
    width: 80%;
    justify-content: space-between;
    list-style: none;
    padding: 30px 0;
}
.ul-nav-links a{
    color: var(--dark);
    text-decoration: none;
}
.ul-nav-links a:hover{
    color: var(--light-blue);
}
.contact{
    height: 40px;
    width: auto;
    margin-top: 20px;
    padding: 0 10px;
    outline: none;
    background-color: var(--light-blue);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white);
}
.contact:hover{
    background-color: var(--light-dark);
}

/*styling of header ends here */

/* styling of hero section starts here */

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGJhY2tncm91bmQlMjBtaW5pbWFsaXN0aWN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.hero h1, .hero p, .hero button{
    color: var(--white);
    margin: 25px 0;
}
.hero h1{
    font-weight: 700;
}

.hero button{
    padding: 5px 10px;
    background: none;
    border:  1px solid var(--white);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    outline: none;
    cursor: pointer;
}
.hero button:hover{
    background: var(--light-blue);
    color: var(--white);
}
/* end of hero section */
/* start of section one  */

.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 35px 100px;
}
.section1-div1-h1{
    font-size: 1.25em;
    padding-bottom: 25px;
    color: var(--light-dark);
}
.section1-div1-para{
    padding-bottom: 50px;
    color: var(--light-dark);
}
.section1-div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
.section1-div22{
    width: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.section1-div22 img{
    width: 100%; ;
    height: auto;
}
.section1-div22 h1{
    font-size: 1.25em;
    padding-bottom: 25px;
    color: var(--light-dark);
    padding: 10px 0;
}
.section1-div22 p{
    font-size: 1em;
    color: var(--light-dark);
}